* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-container {
    width: 1328px;
    height: 854px;
    background-image: url(/image/background-book.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.book {
    width: 1328px;
    height: 854px;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.page {
    width: 664px;
    height: 854px;
    position: absolute;
    top: 0;
    /* padding: 0px; */
    /* line-height: 1.5; */
    backface-visibility: hidden;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
    /* z-index: 1; */
    transition: transform 1s ease;
    /* transform-origin: right; */
}

.left {
    left: 0;
    z-index: 2;
    transform-origin: right;
    background-image: url(/image/left_page.png);
    background-size: cover;
    display: block;
    position: absolute;
}

.right {
    left: 664px;
    transform-origin: left;
    /* background-image: url(/image/right_page.png);
    background-size: cover; */
    /* z-index: 1; */
    position: absolute;
    display: block;
}

.click-zone {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 3;
    cursor: pointer;
    background: transparent;
}

.left-zone{
    left: 0;
}

.right-zone{
    right: 0;
}